// Variables SCSS para el hero section
$animation-delay-base: 2s;


// Animaciones personalizadas usando SCSS
.animation-delay-2000 {
  animation-delay: $animation-delay-base;
}

.animation-delay-4000 {
  animation-delay: $animation-delay-base * 2;
}

